/*
    Vertical Accordions
*/

.accordion_toggle {
    display: block;
    height: 60px;
    width: 100%;
    background-color: #303030;
    line-height: 60px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    color: #FFFFFF;
    border-bottom: 1px solid #616161;
    cursor: pointer;
    margin: 0 0 0 0;
}

.accordion_toggle_active {
    background-color:orange;
    color: #ffffff;
    border-bottom: 1px solid #f68263;
}

.accordion_content {
    background-color: #ffffff;
    color: #444444;
    overflow: hidden;
}
    
    .accordion_content h2 {
        margin: 15px 0 5px 10px;
        color: #0099FF;
    }
    
    .accordion_content p {
        line-height: 150%;
        padding: 5px 10px 15px 10px;
    }
    
.vertical_accordion_toggle {
    display: block;
    height: 30px;
    width: 100%;

    padding: 0 10px 0 10px;
    line-height: 50px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    color: #000000;
    border-bottom: 1px solid #cde99f;
    cursor: pointer;
    margin: 0 0 0 0;
}

.vertical_accordion_toggle_active {

    color: #ffffff;
    border-bottom: 1px solid #f68263;
}

.vertical_accordion_content {
    background-color: #ffffff;
    color: #444444;
    overflow: hidden;
}

.vertical_accordion_content h2 {
    margin: 15px 0 5px 10px;
    color: #0099FF;
}

.vertical_accordion_content p {
    line-height: 150%;
    padding: 5px 10px 15px 10px;
}

            
            
/* Container styling*/
#horizontal_container {
margin: 20px auto 20px auto;
width: 100%;   
height: 100px;    
}

#vertical_nested_container {
margin: 20px auto 20px auto;
width: 100%;
}