{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vertical Sliding Accordion with jQuery</title>
		<meta charset="UTF-8" />
		<meta name="author" content="Codrops" />
		<!-- Style for the demo page -->
        <link rel="stylesheet" type="text/css" href="{% static "css/demo.css"%}" />
		<!-- Style of the component -->
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}" />
		<noscript>
			<link rel="stylesheet" type="text/css" href="{% static "css/styleNoJS.css"%}" />
		</noscript>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&v2' rel='stylesheet' type='text/css'>
        
        
        
        <style>
        .circle {
            border-radius: 50%;
            width: 60px;
            height: 60px;    
            /* width and height can be anything, as long as they're equal */
            border: 2px solid #999999;
        }

        .center {
          margin-left: auto;
          margin-right: auto;
        }
        </style>
        
        
        
    </head>
    <body>
		<div class="container" style="margin:0px;">
			<div id="va-accordion" class="va-container" style="margin-top:0px;">
				<div class="va-nav">
					<span class="va-nav-prev" style="top:10px;">Previous</span>
					<span class="va-nav-next" style="bottom:10px;">Next</span>
				</div>
				<div class="va-wrapper">
					<div class="va-slice va-slice-color-1">                             
                    <div style="float:right;">
                        <span style="float:right;padding-right:1em;margin-top:25%;"><div class="circle center" style="background-color:green;"><h4 style="margin-top:22px;margin-left:15px;">Ready</h4></div></span>
                    </div>
						<h3 class="va-title">AE2 Configuration</h3>
						<div class="va-content">
							<p>Manage AE2 Configuration</p>
							
                            

            
            <center><h4 style="margin-top:0em;">AE2 Management</h4></center>
            <span><form style="display:inline;">
                AE2 directory:<input type="text" id="ae2directory" size="25" value="/root/ae2">
                <input type="submit" value ="Change" alt="Changes directory that AE2 is installed in, does not implicitly download AE2 unless pull AE2 is already checked.">
            </form></span>
            <span><form style="display:inline;">
                Branch:<select name="ae2branch">
                        <option value="trunk">Trunk</option>
                        <option value="ae2">AE2</option>
                        <option value="butterjunk">Butterjunk</option>
                        </select>
                Revision:<select name="ae2revision">
                        <option value="head">HEAD</option>
                        <option value="1234">1234</option>
                        <option value="1233">1233</option>
                        </select>
                <input type="submit" value ="Pull" alt="Attempts an SVN pull into the selected directory. Warning: Deletes directory contents.">
            </form></span>
            <span><form style="display:inline;" alt="Generates suite and environment files.">
                <input type="submit" value ="Sync">
            </form></span>
            
            <span><form style="display:inline;" alt="Should an AE2 Pull and cluster/suite sync be performed automatically?">
                <input type="checkbox" name="manageae2" value="yes" checked="checked"> Auto Pull/Sync?
            </form></span>
                            
                            
                            
                            
                            
                            
                            <ul>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
                    
					<div class="va-slice va-slice-color-2">
						<h3 class="va-title">Cluster Configuration</h3>
						<div class="va-content">
							<p>Manage Cluster Configuration</p>
							<ul>
								<li><a href="#">Help</a></li>

							</ul>
						</div>	
					</div>
                    
                    <div class="va-slice va-slice-color-6">
						<h3 class="va-title">Bamboo Configuration</h3>
						<div class="va-content">
							<p>Bamboo configuration management</p>
							<ul>
								<li><a href="#">Help</a></li>
							</ul>
						</div>	
					</div>
                    
                    
					<div class="va-slice va-slice-color-3">
						<h3 class="va-title">Fluid Cache Configuration</h3>
						<div class="va-content">
							<p>Manage Fluid Cache Configuration and Install</p>
							<ul>
								<li><a href="#">Help</a></li>
							</ul>
						</div>	
					</div>
					<div class="va-slice va-slice-color-4">
						<h3 class="va-title">Testing Configuration</h3>
						<div class="va-content">
							<p>Select and run test Suite</p>
							<ul>
								<li><a href="#">Help</a></li>
								<li><a href="#">Suite Maker</a></li>
							</ul>
						</div>	
					</div>
					<div class="va-slice va-slice-color-5">
						<h3 class="va-title">Monitor testing</h3>
						<div class="va-content">
							<p>Test output goes here.</p>
							<ul>
								<li><a href="#">Help</a></li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="{% static "js/jquery.easing.1.3.js"%}"></script>
		<script type="text/javascript" src="{% static "js/jquery.mousewheel.js"%}"></script>
		<script type="text/javascript" src="{% static "js/jquery.vaccordion.js"%}"></script>
		<script type="text/javascript">
			$(function() {
				$('#va-accordion').vaccordion({
					accordionW		: $(window).width(),
					accordionH		: $(window).height(),
					visibleSlices	: 6,
					expandedHeight	: 600,
					animOpacity		: 0.1,
					contentAnimSpeed: 100,
                    event:"mouseover"
				});
			});
		</script>
    </body>
</html>